@model CCAF.Models.OrderHistoryViewModel
@using System.Data;
@{
    ViewBag.Title = "Approve Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
      .for_label_styling .form {
          width: 64%;
          margin-top: 7px;
          margin-left: 186px;
          margin-bottom: -40px;
          z-index: 1;
      }

      .top-title h2 {
          margin-bottom: -13px;
      }

      /*.disabled
    {
       display:none;
    }*/
      table.dataTable.no-footer {
          min-height: 0 !important;
      }

      table.dataTable tbody td {
          padding: 5px 17px !important;
          vertical-align: middle !important;
      }

      .table.order_table tr td:nth-child(8) {
          text-align: left;
          overflow-y: scroll;
          float: left;
          max-height: 64px;
          width: 88%;
          border-right: 0px !important;
      }

          .table.order_table tr td:nth-child(8)::-webkit-scrollbar {
              width: 10px;
          }

          .table.order_table tr td:nth-child(8)::-webkit-scrollbar-track {
              border-radius: 10px;
          }

          .table.order_table tr td:nth-child(8)::-webkit-scrollbar-thumb {
              background: #e51635;
              border-radius: 10px;
              transition: all 0.3s ease-in-out 0s;
              -webkit-transition: all 0.3s ease-in-out 0s;
              -moz-transition: all 0.3s ease-in-out 0s;
              -o-transition: all 0.3s ease-in-out 0s;
          }

              .table.order_table tr td:nth-child(8)::-webkit-scrollbar-thumb:hover {
                  background: #a1a1a1;
              }

      .for-center {
          margin-top: 40px !important;
      }

      table.table.order_table.for-center tr td:nth-child(9) {
          border-left: 1px solid #ddd;
      }

      /*table.table.order_table.for-center tr td:nth-child(6) {
        text-align: left;
    }*/
      /*.loader_overlay{
            position:fixed;
            top:0;
            left:0;
            background:rgba(0, 0, 0, 0.5);
            height:100%;
            width:100%;
            z-index:2;
            display:none;
        }
        .loader_overlay img{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            z-index:4;
        }*/

      div#tbl_filter.mobileview_displyrecordsearch input {
          font-weight: normal;
      }

      div#tbl_filter.mobileview_displyrecordsearch {
          float: right;
          margin-top: -35px;
      }

      .ordpopup {
          position: fixed;
          width: 100%;
          height: 100%;
          background: rgba(0,0,0,0.3);
          z-index: 2;
          display: none;
          transition: all 0.5s ease-in-out 0s;
          -webkit-transition: all 0.5s ease-in-out 0s;
      }

          .ordpopup .ordpopupinner {
              background: #fff;
              width: 70%;
              padding: 20px 10px;
              position: absolute;
              top: 40%;
              left: 50%;
              border-radius: 6px;
              transform: translate(-50%,-50%);
              border: 1px solid #ccc;
          }

              .ordpopup .ordpopupinner .popupdata {
                  position: relative;
                  display: block;
                  width: 100%;
              }

                  .ordpopup .ordpopupinner .popupdata a {
                      position: absolute;
                      top: -37px;
                      right: -23px;
                      background: #f00;
                      color: #fff;
                      font-size: 20px;
                      text-transform: uppercase;
                      border-radius: 30px;
                      padding: 4px 13px;
                      box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
                  }

      .flatpickr-input[readonly] {
          font-size: 12px;
          color: #1b1b1b !important;
          border-bottom: 1px solid #ccc !important;
      }

      table.dataTable.cell-border tbody tr:first-child th, table.dataTable.cell-border tbody tr:first-child td {
          border-top: inherit !important;
      }
</style>
<div class="loader_overlay">
    <img src="~/AcxiomDesign/images/Loading-red.gif" id="loading" height="250px" width="250px" />
</div>
<div class="wrapper">

    <div class="top-title"><h2>Approve Order</h2></div>

    <div class="container">
        <div class="row for-row-margin for_label_styling">
            <div class="form">
                @*@using (Html.BeginForm("OrderHistory", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {*@
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 ">
                    <p>
                        @Html.LabelFor(m => m._DateParm.FromDate)
                    </p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.TextBoxFor(m => m._DateParm.FromDate, new { @class = "flatpickr flatpickr-input active", @id = "FromDate" })
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <p>@Html.LabelFor(m => m._DateParm.ToDate)</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    @Html.TextBoxFor(m => m._DateParm.ToDate, new { @class = "flatpickr flatpickr-input active", @id = "ToDate" })
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    @*<div class="save_button"> <button type="submit" onclick=" return Validate();">ViewByPost</button></div>*@
                    <div class="save_button"> <button type="button" onclick="View_ButtonClick()">View</button></div>

                </div>

                @*}*@
            </div>
        </div>

        @*<script>
                //$('.flatpickr').flatpickr({
                //});

            </script>*@

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-zero ">

                <div class="left-side-bar for-order-margin">
                    <div class="order_table_bg">
                        <table id="tbl" class="table order_table for-center hover cell-border order-column mobile_view_none">
                            @*table order_table order_table-right*@
                            <thead id="theadao">
                                <tr>
                                    <th>Sr No</th>
                                    <th>Order No</th>
                                    <th>Order Date</th>
                                    <th>Delivery Date</th>
                                    <th>Order Type</th>
                                    <th>Customer</th>
                                    <th style="text-align: left;">Delivery Option</th>
                                    <th>Reason of Order</th>
                                    <th>Order Status</th>
                                    <th style="text-align: right;">Amount</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tbdyao"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-first">
    </div>

</div>

<div id="popupord" class="ordpopup" style="display: none;">
    <div class="ordpopupinner">
        <div class="popupdata">
            <table id="tbl" class="table order_table hover cell-border order-column">

                <thead>
                    <tr>
                        <th>Web Order No </th>
                        <th>Line Number </th>
                        <th>Item Id </th>
                        <th>Item Name </th>
                        <th>Qty</th>
                        <th style="text-align:right">Extended Price VIP</th>
                    </tr>


                </thead>
                <tbody id="tbdyohpu"></tbody>
            </table>
            <a class="" href="javascript:void(0);" onclick="dialogout()">X</a>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {if ($(window).width() < 800) {

        $('#theadao').attr('class', 'nonevalue');
    }
    else {
           $('#theadao').removeClass('nonevalue');
    }
        $('#theadao').hide();
    //    View_ButtonClick();
        var check_in = flatpickr("#FromDate", { dateFormat: "d-M-Y" });

        var check_out = flatpickr("#ToDate", { dateFormat: "d-M-Y" });


    });


    function Validate() {
        var startDate = document.getElementById("FromDate").value;
        var endDate = document.getElementById("ToDate").value;
      if(endDate == '' && startDate == '')
        {
            return true;
        }
      else if (startDate == '') {
            ShowMessage('Please Pick a "From Date"!');
            return false;
        }
        else if (endDate == '') {
            ShowMessage('Please Pick a "To Date"!');
            return false;
        }

        else if ((Date.parse(startDate) > Date.parse(endDate))) {
            ShowMessage('"To Date" should be greater than "From Date"!');
            return false;
        }


        else {
            return true;
        }
    }

    function View_ButtonClick() {

             $('#tbdyao').html('');
      //       var table = $('#tbl').DataTable();
      //       table.clear();
      //       table.clear().draw();

        if (!Validate()) {
            return;
        }
       var tblStore = $('#tbdyao');
        var fromDate = $("#FromDate").val();
        var toDate = $("#ToDate").val();
        var Parmlist = '{"FROMDATE":"' + fromDate + '","TODATE":"' + toDate + '"}';
        $.ajax({
            type: "GET",
            crossDomain: true,
            dataType: 'json',
            url: '/GenerateOrder/GetData?FunctionName=GETORDERAPPROVAL&objData=' + Parmlist + '&specific=2',

            success: function (Data) {
                debugger;

                if (typeof Data === 'string')
                 ShowMessage(Data);
                var table = $('#tbl').DataTable();
                //clear datatable
                table.clear().draw();
                //destroy datatable
                table.destroy();

                $.each(Data, function (i, val) {

                    if (val['OrderStatus'] == "1")
                    {
                        var ordno = val['Order No']; var ordstat = val['Order Status'];
                        //trData = $("<tr><td >" + val['Sr No'] + "</td><td >" + val['Order No'] + "</td><td >" + val['Order Date'] + "</td><td >" + val['Order Type'] + "</td><td >" + val['Customer'] + "</td><td >" + val['Delivery Option'] + "</td><td >" + val['Order Status'] + "</td><td style=''>" + val['Total Amount'] + "</td><td><img src='/AcxiomDesign/images/ok.png' onclick='updateorder('"+ordno+"'," + '"Approve"' + ",'"+ordstat+"')'/> </td><td><img src='/AcxiomDesign/images/cancel.png' onclick='updateorder()'/> </td></tr>");
                        trData = $('<tr><td data-rt-label="Sr No">' + val['Sr No'] + '</td><td data-rt-label="Order No">' + val['Order No'] + '</td><td data-rt-label="Order Date" id="orddate">' + val['Order Date'] + '</td><td  data-rt-label="Delivery Date" class="for_delivery_date" id="deliverydate"><input type="text" id="Deliverydate" class="flatpickr flatpickr-input active DeliveryDate" value="' + val['Delivery Date'] + '" /></td><td  data-rt-label="User type">' + val['Order Type'] + '</td><td  data-rt-label="Customer">' + val['Customer'] + '<input type="hidden" id="AccountNum" val=" ' + val['AccountNum'] + '"></td><td style="text-align: left;"  data-rt-label="Delivery Option">' + val['Delivery Option'] + '</td><td class="clsReasonOfOrder" data-rt-label="Reason of Order : ">' + val['Reason of Order'] + '</td><td id="statord" data-rt-label="Order Status">' + val['Order Status'] + '</td><td  data-rt-label="Amount">' + val['Total Amount'].toFixed(2) + '</td><td id="ok" data-rt-label="Approved"><img src="/AcxiomDesign/images/ok.png"  onclick="updateorder(\'' + ordno + '\',\'' + val['AccountNum'] + '\',\'' + 'Approve' + '\',\'' + ordstat + '\',this)"/> </td><td id="rej"  data-rt-label="Reject"><img src="/AcxiomDesign/images/cancel1.png"  onclick="updateorder(\'' + ordno + '\',\'' + val['AccountNum'] + '\',\'' + 'Reject' + '\',\'' + ordstat + '\',this)"/> </td><td><a onclick="dialog(\'' + val['Order No'] + '\',\'' + val['AccountNum'] + '\')">View</a></td></tr>');
                        tblStore.append(trData);
                    }
                    else
                    {
                        var ordno = val['Order No']; var ordstat = val['Order Status'];

                        trData = $('<tr><td >' + val['Sr No'] + '</td><td >' + val['Order No'] + '</td><td >' + val['Order Date'] + '</td><td class="for_delivery_date" >' + val['Delivery Date'] + '</td><td >' + val['Order Type'] + '</td><td >' + val['Customer'] + '<input type="hidden" id="AccountNum" val=" ' + val['AccountNum'] + '"></td><td style="text-align: left;">' + val['Delivery Option'] + '</td><td >' + val['Reason of Order'] + '</td><td id="statord">' + val['Order Status'] + '</td><td>' + val['Total Amount'].toFixed(2) + '</td><td></td><td></td><td><a onclick="dialog(\'' + val['Order No'] + '\',\'' + val['Order Type'] + '\')">View</a></td></tr>');
                        tblStore.append(trData);


                    }

                    });


            },
            complete: function () {

                var check_in = flatpickr(".DeliveryDate", { dateFormat: "d-M-Y", minDate: "today" });// dateFormat: "d-M-Y", minDate: new Date(), defaultDate: new Date()
                $('#theadao').show();
                var now = new Date(),
                minDate = now.toISOString().substring(0, 10);

                $('.DeliveryDate').prop('min', minDate);

                var table = $('#tbl').DataTable({
                   // responsive: true

                         scrollCollapse: true
                    , "bDestroy": true
                  , "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
                         , "language": {
                             "search": ""
                             , "sLengthMenu": "Display _MENU_ Records"
                             , "info": "Displaying _START_ to _END_ of _TOTAL_ Records"
                             , "infoEmpty": "Displaying 0 to 0 of 0 Records"
                         }
                         , columnDefs: [{
                             targets: 0,
                             className: 'dt-body-center'
                         }, {
                             targets: -3,
                             className: 'dt-body-right'
                         }]
                });
                $('.dataTables_filter input').attr("placeholder", "Search");
                $('#tbl_length').attr("class", "mobileview_displyrecord");
                $('#tbl_filter').attr("class", "mobileview_displyrecordsearch");

                table.draw();
            },
            failure: function (text) {

                ShowMessage(text.responseText);
            },
            error: function (text) {
                window.location.href = '/';
                //ShowMessage(text.responseText);
            }
        });
    }


    function updateorder(Webordern,accountnum, statusc, statuss,current)
    {

        var row = $(current).closest("tr");
        var TodayDate = new Date();
        //OrderDate = OrderDate.replace(/ /g, "-");
        //var DeliveryDate = $('#Deliverydate').val();
        //if ((Date.parse(TodayDate) > Date.parse(DeliveryDate)))
        //{
        //    ShowMessage('"Delivery Date" should be greater than "Today Date"!');
        //    return;
        //}
        debugger;
        var DeliveryDate = row.find('#Deliverydate').val();
        var r = confirm("Are You Sure!");
        if (r == true) {
            if (statusc == "Approve") {
                var statuss = '2';
                row.find('#statord').html('Approve');
                row.find('#ok').html('');
                row.find('#rej').html('');
                row.find('#Deliverydate').val();
                $('.loader_overlay, #loading').show();

            }
            else {
                statuss = '3';
                row.find('#statord').html('Reject');
                row.find('#ok').html('');
                row.find('#rej').html('');
                $('.loader_overlay, #loading').show();
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateOrderStatus", "Home")',
                data: "{'statusc':'" + '1' + "','statuss':'" + statuss + "','Webordern':'" + Webordern + "','AccountNum':'" + accountnum + "','DeliveryDate':'" + DeliveryDate + "'}",
                datatype: 'application/json',
                contentType: 'application/json',
                success: function (data) {
                    var on = JSON.parse(data);

                    if (statusc == "Approve")
                         statusc = "Approved";
                    else
                        statusc = "Rejected";
                    ShowMessage(""+on[0].orderno+" Status "+statusc+" Successfully!");
                },
                complete: function () {
                    $('#loading').hide();
                    $('.loader_overlay').fadeOut();
                },
                failure:function(text){
                    ShowMessage(text.responseText);
                    $('#loading').hide();
                    $('.loader_overlay').fadeOut();
                },
                error: function (xhr, ajaxOptions, thrownError,text) {
                    ShowMessage(text.responseText);
                    $('#loading').hide();
                    $('.loader_overlay').fadeOut();
                }

            });
        }
    }

    function dialog(ordno, usercode)
    {
        $('#tbdyohpu').html('');
        var tblStore = $('#tbdyohpu');
        $.ajax({
            type: 'POST',
            url: '@Url.Action("PopupDataApproveOrder", "Home")',
            data: "{'OrdNo':'" + ordno + "','Usercode':'" + usercode + "'}",
            datatype: 'application/json',
            contentType: 'application/json',
            success: function (data) {

                var Data = JSON.parse(data);
                $.each(Data, function (i, val) {

                    trData = $('<tr><td ><span class="popup_before">Web Order No</span>' + val['WebOrderNo'] + '</td><td ><span class="popup_before">Line Number</span>' + val['LineNumber'] + '</td><td ><span class="popup_before">Item Id</span>' + val['ItemId'] + "</td><td ><span class='popup_before'>Item Name</span>" + val['Name'] + '</td><td ><span class="popup_before">Qty</span>' + val['OrderQty'] + '</td><td style="text-align:right"><span class="popup_before">Extended Price</span>' + val['ExtendedPriceVIP'] + '</td></tr>');
                    tblStore.append(trData);
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                if (xhr.status === 401) {
                    window.location.href = xhr.Data.LogOnUrl;
                    return;
                }
            }
        });

        $('.ordpopup').fadeIn();
    }
    function dialogout() {
        $('.ordpopup').fadeOut();
    }
</script>

